* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #b5b8b8;
}

* :focus{
    outline: none;
}

#app-cover {
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}

.row {
    display: table-row;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

